* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 40px 0;
}

/* Quitamos las flechas de los inputs de number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

h1 {
  text-transform: uppercase;
  text-align: center;
}

p {
  margin: 0;
  text-indent: 8px;
}

.text-error {
  color: red;
}